  <div class="btn-group" id="buttons" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="options" data-id="0" autocomplete="off" checked> LA Rams
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" data-id="1" autocomplete="off"> NFC West News
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" data-id="2" autocomplete="off"> Around the NFL
      </label>
    </div>
    <br />
  <div id="pages">
  <div class="twitter-feed">
      <div id="div0">
        <a class="twitter-timeline" href="https://twitter.com/LARamsSite/lists/the-latest-rams-news"><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div id="div1">
        <a class="twitter-timeline" href="https://twitter.com/LARamsSite/lists/the-latest-rams-news"><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div id="div2">
        <a class="twitter-timeline" href="https://twitter.com/LARamsSite/lists/around-the-nfl"><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    </div>
